@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @property --color-a{
        syntax :"<color>";
        inherits: true;
        initial-value: transparent;
    }
    @property --color-b{
        syntax :"<color>";
        inherits: true;
        initial-value: transparent;
    }
    @property --color-c{
        syntax :"<color>";
        inherits: true;
        initial-value: transparent;
    }
}
